.app {
  text-align: center;
}

.app{
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ffffff
}

@media (max-width: 800px){
  .app{
    padding:0px;
    margin-top: 0vh;
    min-height: 100vh;
  }
}
  
